@charset "UTF-8";

:root{
    --cor0: #FAE714;
    --cor1: #D6C611;
    --cor2: #ADA00E;
    --cor3: #857A0B;
    --cor4: #5C5507;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: ;
    --fonte-vitto: ;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    flex: 1 1 100vw;
    /*align-items: center;
    justify-content: flex-end;*/
    background-color: #978c11;
}

/*nav a {
    margin: 5%;
    font-size: 20pt;
}*/

body{
    display: flex;
    background-image: linear-gradient(to bottom, #FAE714, #5C5507 );
    font-family: var(--fonte-padrao);
    text-align: center;
    margin: 05px;
}

header{
    display: flex;
    background-color: #ADA00E;
}

header #logo{
    flex: 0 1 200px;
}

header > h1{
    display: flex;
    color: black;
    font-family: var(--fonte-destaque);
}

header > p{
    display: flex;
    color: black;
    font-family: var(--fonte-padrao);
}

main > h2{
    display: flex;
    color: black;
    font-family: var(--fonte-padrao);
    font-size: 30px;
}

div#countdow{
    display: flex;
    background-color: white;
    display: inline-block;
    width: 825px;
    height: 70px;
    
}

div > span {
    display: flex;
    color: red;
    
}

.countdow{
    display: flex;
    font-size: 24px;
    font-weight: bold;
    
}

div.picture{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgray;
    width: 195px;
    height: 150px;
    
}

footer{
    display: flex;
    background-color: #5C5507;
    color: white;

}